body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background:url(background.jpg);
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header */
  header {
    background-color: #010e15;
    color: #fff;
    padding: 20px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #23ccdf;
  }
  
  /* content */
  #content {
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
    color: #080000;
    text-align: center;
    padding: 200px 0;
  }
  
  /* About*/
  #about {
    padding: 100px 0;
    font-style: italic;
    font-family: 'Roboto';
  }
  .skills{
    font-weight: bold;
  }
  
  /* Projects  */
  #projects {
    padding: 100px 0;
  }
  
  .project {
    margin-bottom: 50px;
  }
  
  .project img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  /* Contact */
  #contact {
    background-color: #0e0000;
    color: #fff;
    padding: 100px 0;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #23ccdf;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  /* Footer  */
  footer {
    background-color: #0e0101;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  /* icons*/
  .icons a{
    text-decoration: none;
    color:black;
}

.icons ion-icon{
    margin-left: -3%;
    color:black;
    margin-right: -60px;
    font-size: 40px;
    transition:.4s ease;
}

.icons ion-icon a:hover{
    color:rgb(121, 150, 166);
}
  